@{
    ViewData["Title"] = "Home Page";
}

<div class="text">
    <h1 class="display-4">Welcome,</h1>
    <p class="welcome">To my<br/>Identity App Project</p>
    <img src="img\view.jpg" alt=" " width="100%" height="65%">
</div>
